/*

Omarchy Steam Theme
Last Modified: 2025-11-11

*/

:root {
    /* The main accent color and the matching text value */
    --adw-accent-bg-rgb: 222, 106, 65 !important;
    --adw-accent-fg-rgb: 208, 208, 200 !important;
    --adw-accent-rgb: 222, 106, 65 !important;

    /* destructive-action buttons */
    --adw-destructive-bg-rgb: 219, 0, 48 !important;
    --adw-destructive-fg-rgb: 36, 36, 36 !important;
    --adw-destructive-rgb: 219, 0, 48 !important;

    /* Levelbars, entries, labels and infobars. These don't need text colors */
    --adw-success-bg-rgb: 46, 49, 37 !important;
    --adw-success-fg-rgb: 208, 208, 200 !important;
    --adw-success-rgb: 46, 49, 37 !important;

    --adw-warning-bg-rgb: 162, 168, 124 !important;
    --adw-warning-fg-rgb: 208, 208, 200 !important;
    --adw-warning-fg-a: 0.8 !important;
    --adw-warning-rgb: 162, 168, 124 !important;

    --adw-error-bg-rgb: 219, 0, 48 !important;
    --adw-error-fg-rgb: 208, 208, 200 !important;
    --adw-error-rgb: 219, 0, 48 !important;

    /* Window */
    --adw-window-bg-rgb: 208, 208, 200 !important;
    --adw-window-fg-rgb: 36, 36, 36 !important;

    /* Views - e.g. text view or tree view */
    --adw-view-bg-rgb: 208, 208, 200 !important;
    --adw-view-fg-rgb: 36, 36, 36 !important;

    /* Header bar, search bar, tab bar */
    --adw-headerbar-bg-rgb: 208, 208, 200 !important;
    --adw-headerbar-fg-rgb: 36, 36, 36 !important;
    --adw-headerbar-border-rgb: 73, 74, 66 !important;
    --adw-headerbar-backdrop-rgb: 208, 208, 200 !important;
    --adw-headerbar-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-shade-a: 0.36 !important;
    --adw-headerbar-darker-shade-rgb: 0, 0, 0 !important;
    --adw-headerbar-darker-shade-a: 0.9 !important;

    /* Split pane views */
    --adw-sidebar-bg-rgb: 208, 208, 200 !important;
    --adw-sidebar-fg-rgb: 36, 36, 36 !important;
    --adw-sidebar-backdrop-rgb: 73, 74, 66 !important;
    --adw-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-sidebar-shade-a: 0.36 !important;

    --adw-secondary-sidebar-bg-rgb: 208, 208, 200 !important;
    --adw-secondary-sidebar-fg-rgb: 36, 36, 36 !important;
    --adw-secondary-sidebar-backdrop-rgb: 73, 74, 66 !important;
    --adw-secondary-sidebar-shade-rgb: 0, 0, 0 !important;
    --adw-secondary-sidebar-shade-a: 0.36 !important;

    /* Cards, boxed lists */
    --adw-card-bg-rgb: 255, 255, 255 !important;
    --adw-card-bg-a: 0.08 !important;
    --adw-card-fg-rgb: 255, 255, 255 !important;
    --adw-card-shade-rgb: 0, 0, 0 !important;
    --adw-card-shade-a: 0.36 !important;

    /* Dialogs */
    --adw-dialog-bg-rgb: 208, 208, 200 !important;
    --adw-dialog-fg-rgb: 36, 36, 36 !important;

    /* Popovers */
    --adw-popover-bg-rgb: 208, 208, 200 !important;
    --adw-popover-fg-rgb: 36, 36, 36 !important;

    /* Thumbnails */
    --adw-thumbnail-bg-rgb: 208, 208, 200 !important;
    --adw-popover-fg-rgb: 36, 36, 36 !important;

    /* Miscellaneous */
    --adw-shade-rgb: 0, 0, 0 !important;
    --adw-shade-a: 0.36 !important;
}
