    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #d0d0c8;
        --color01: #d0d0c8;
        --color02: #d0d0c8;
        --color03: #383835;
        --color04: #242424;
        --color05: #242424;
        --color06: #242424;
        --color07: #242424;
        --color08: #db0030;
        --color09: #51573b;
        --color10: #a2a87c;
        --color11: #2e3125;
        --color12: #363a34;
        --color13: #DE6A41;
        --color14: #43432b;
        --color15: #51573b;
    }
