/**
* @name TheGreek
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #d0d0c8;
    --color01: #db0030;
    --color02: #2e3125;
    --color03: #51573b;
    --color04: #47472b;
    --color05: #363a34;
    --color06: #363a34;
    --color07: #272727;
    --color08: #494a42;
    --color09: #ef597a;
    --color10: #db0030;
    --color11: #383835;
    --color12: #2e3125;
    --color13: #f05a0f;
    --color14: #94998b;
    --color15: #242424;


    --base04: color-mix(in srgb, var(--color04) 55%, black) !important;
    --base02: color-mix(in srgb, var(--color00) 1%, white) !important;
    --base02: color-mix(in srgb, var(--color00) 85%, black) !important;
    --base04: color-mix(in srgb, var(--color00) 5%, black) !important;
    --base00: color-mix(in srgb, var(--color00) 95%, white) !important;
 }
