@define-color selected-text #DE6A41;
@define-color text #47472b;
@define-color base #d0d0c8;
@define-color border #494a42;
@define-color foreground #595939;
@define-color background #d0d0c8;

@define-color hover #494a42;


window .search-container,
window .search {
  background: alpha(@hover, 0.3);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 12px;
  box-shadow: 0 0 6px alpha(grey, 1);
  text-shadow: 0 0 1px grey;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}

window .list {
  text-shadow: 0 0 1px grey;
  color: @foreground;
  font-size: 14px;
  font-weight: 450;

}

window .preview {
  text-shadow: 0 0 1px grey;
  color: @foreground;
  font-size: 14px;
  font-weight: 450;
  box-shadow: 0 0 6px alpha(grey, 1);
  padding: 2px 4px;
  margin: 2px 0;
  background: alpha(@base, 0.5);
  border-radius: 6px;
  border: 1px solid alpha(@border, 0.5);
}
