:root {
--color00: #d0d0c8;
--color01: #d0d0c8;
--color02: #d0d0c8;
--color03: #383835;
--color04: #242424;
--color05: #242424;
--color06: #242424;
--color07: #242424;
--color08: #db0030;
--color09: #51573b;
--color0A: #a2a87c;
--color0B: #2e3125;
--color0C: #363a34;
--color0D: #DE6A41;
--color0E: #43432b;
--color0F: #ef597a;
}
